.inventory-item-pic {
  &[data-name="9mm_ball"] {
    background-image: url("/public/assets/ammo/9mm/9mm_ball/icon.webp");
  }

  &[data-name="9mm_AP"] {
    background-image: url("/public/assets/ammo/9mm/9mm_AP/icon.webp");
  }

  &[data-name="9mm_JHP"] {
    background-image: url("/public/assets/ammo/9mm/9mm_JHP/icon.webp");
  }

  &[data-name=".45"] {
    background-image: url("/public/assets/ammo/45_caliber/icon.webp");
  }
}

.ammo {
  position: absolute;
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  transform-origin: left top;

  &.ammo_9mm_ball {
    border-radius: 0 0 50% 50%;
    width: 10px !important;
    height: 5px !important;
  }
}
