.modal {
  position: relative;

  width: 80%;
  max-width: 800px;
  height: 80%;
  padding: (@padding) (@padding * 2);
  border-radius: @border-radius;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px limegreen;
  color: @text-color;
  display: flex;
  flex-direction: column;
  gap: @padding;

  .modal-content {
    flex: 1;
    overflow: auto;

    > fieldset:not(.controls) {
      border: solid 1px rgba(0, 255, 0, 0.4);
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      border-radius: @border-radius;

      &[data-droppable],
      &[data-editable] {
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75) inset;
        background-color: rgba(0, 0, 0, 0.25);
      }

      .header {
        display: flex;
        gap: 10px;
        margin-top: -7px;
        font-size: 0.85em;
        padding: 10px;
        background-color: #0a4110;
        border-radius: 5px;
      }

      .body {
        flex: 1;
        overflow: auto;

        .list-row {
          display: flex;
          flex-direction: row;
          padding: (@padding / 2) @padding;
          gap: @padding;
          transition: all 200ms ease;
          border-bottom: solid 1px rgba(0, 255, 0, 0.2);
          border-radius: (@border-radius / 2);
          margin: 0 @padding;

          &:first-child {
            margin-top: @padding;
          }

          &:last-child {
            border-bottom: none;
            margin-bottom: @padding;
          }

          &[data-selected] {
            background-color: @button-border-color--active;
            color: @text-color;
          }

          .list-row-body {
            display: flex;
            flex: 1;

            .stat-title {
              flex: 1;
            }

            .stat-value-wrapper {
              display: flex;
              gap: 0.25em;

              .stat-value {
                color: @text-color;
              }
              .stat-value-suffix {
                //
              }
            }
          }

          .list-row-controls {
            display: flex;
          }
        }
      }

      .footer {
        background-color: rgba(0, 255, 0, 0.1);
        padding: @padding;
        display: flex;
      }
    }
  }

  .modal-controls {
    padding: @padding 0;
    display: flex;
    justify-content: flex-end;
    gap: @padding;

    .divider {
      flex: 1;
    }
  }
}
