.terrain {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;

  .terrain-earth {
    background-image: url("/public/assets/terrain/earth.webp");
  }

  .terrain-vault {
    background-image: url("/public/assets/terrain/vault.webp");
  }

  .terrain-road-1 {
    background-image: url("/public/assets/terrain/road_1.webp");
  }

  .terrain-road-2 {
    background-image: url("/public/assets/terrain/road_2.webp");
  }

  .terrain-road-3 {
    background-image: url("/public/assets/terrain/road_3.webp");
  }

  .terrain-road-4 {
    background-image: url("/public/assets/terrain/road_4.webp");
  }

  .terrain-road-5 {
    background-image: url("/public/assets/terrain/road_5.webp");
  }

  .terrain-road-6 {
    background-image: url("/public/assets/terrain/road_6.webp");
  }

  .terrain-road-curbs {
    background-image: url("/public/assets/terrain/road_curbs.webp");
  }
}

.terrain-clusters {
  overflow: hidden;

  .terrain-cluster {
    position: absolute;
  }

  &.with-wireframe {
    .terrain-cluster {
      border: solid 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.fow,
.lights-and-shadows,
.terrain-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left top;
  transform: rotateX(60deg) rotateZ(45deg);

  z-index: 99;
  pointer-events: none;
}

:not([data-editing-active="true"]) .fow {
  z-index: 9999999;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow:
    0 0 50px 25px #000000 inset,
    0 0 0 150px #000000;
}

.lights-and-shadows {
  z-index: 9999998;
  filter: blur(25px);

  img {
    position: absolute;
  }
}

.debug-visualization {
  position: fixed;
  pointer-events: none;

  z-index: 1;
}

.map-layer {
  pointer-events: none;
  position: absolute;
}

.map {
  z-index: 1;
  transform-style: preserve-3d;
}

&[data-isometric] {
  transform-origin: left top;
  transform: rotateX(60deg) rotateZ(45deg);
}
