@import "../helpers/tiles-generator";
@import "earth";
@import "vault";

.terrain {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left top;

  .terrain-earth();
  .terrain-vault();
}

.fow,
.shadows,
.debug-visualization,
.terrain-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left top;
  transform: rotateX(60deg) rotateZ(45deg);

  z-index: 99;
  pointer-events: none;
}

:not([data-editing-active="true"]) .fow {
  z-index: 9999999;
  //filter: blur(50px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1s ease-in-out;

  img {
    box-shadow: 0 0 50px 25px #000000 inset, 0 0 0 100px #000000;
  }
}

.shadows {
  z-index: 9999998;
  filter: blur(15px);
}

.debug-visualization {
  z-index: 1;
}
