.unit-rotation(@unit-sprite-height) {
  &[data-direction="top"] .char {
    background-position: 0 calc(@unit-sprite-height * 0);
  }

  &[data-direction="right"] .char {
    background-position: 0 calc(@unit-sprite-height * -1);
  }

  &[data-direction="bottom"] .char {
    background-position: 0 calc(@unit-sprite-height * -2);
  }

  &[data-direction="left"] .char {
    background-position: 0 calc(@unit-sprite-height * -3);
  }
}

@unit-actions: idle, walk, run, hit, dead, punch;

.createUnit(@unit-type) {
  &.@{unit-type} {
    each(@unit-actions, {
      &[data-action="none"] {
        .char {
          background-image: url(%('/public/assets/units/%a/idle/empty.webp', @unit-type));
        }
      }

      &[data-action="none"][data-weapon="pistol"] {
        .char {
          background-image: url(%('/public/assets/units/%a/idle/pistol.webp', @unit-type)) !important;
        }
      }

      &[data-action="@{value}"] {
        .char {
          background-image: url(%('/public/assets/units/%a/%s/empty.webp', @unit-type, @value));
        }
      }

      &[data-action="@{value}"][data-weapon="pistol"] {
        .char {
          background-image: url(%('/public/assets/units/%a/%s/pistol.webp', @unit-type, @value)) !important;
        }
      }
    });
  }
}

@import "empty/idle";
@import "empty/walk";
@import "empty/run";
@import "empty/hit";
@import "empty/dead";
@import "empty/punch";

.sharedUnitActions() {
  .shared-unit-action-idle();
  .shared-unit-action-walk();
  .shared-unit-action-run();
  .shared-unit-action-hit();
  .shared-unit-action-dead();
  .shared-unit-action-punch();
}
