@import "_variables.less";
@import "_helpers.less";

.unit {
  position: absolute;
  width: @unit-width;
  height: @unit-height;

  margin-left: 17px;
  margin-top: -57px;

  pointer-events: none;

  &.unit-shadow {
    pointer-events: none !important;
    transform-origin: center calc(100% - @unit-height / 7);
    filter: contrast(0) sepia(100%) saturate(0) brightness(0) blur(7px);
  }

  .char {
    pointer-events: none;
    position: absolute;
    left: calc(50% - @unit-sprite-width / 2);
    top: calc(50% - @unit-sprite-height / 2);
    width: @unit-sprite-width;
    height: @unit-sprite-height;
    background-repeat: no-repeat;
    z-index: 2;

    transition: filter 0.2s linear;
  }

  .health {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

    > div {
      height: 5px;
      position: absolute;
      background-color: @text-color;
    }
  }

  .cooldown {
    position: absolute;
    top: -3.5px;
    left: -15px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px @text-color;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }

  .damage-points {
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: 0%;
    color: #ffffff;
    filter: drop-shadow(0px 4px 6px black);
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    font-weight: bolder;
    text-align: center;
    transition: all 0.5s linear;
    opacity: 1;
  }

  .unit-rotation(@unit-sprite-height);

  .createUnit(vault13-male);
  .createUnit(ghoul);

  .sharedUnitActions();

  &[data-at-gunpoint="true"] {
    .char {
      filter: drop-shadow(0px 0px 5px red) drop-shadow(0px 0px 5px red);
    }
  }

  &[data-action="hit"] {
    .damage-points {
      top: -20%;
      opacity: 0;
    }
  }
}

[data-editor-mode="unit"] {
  .unit {
    pointer-events: auto;
  }
}
