@import "_variables.less";
@import "_helpers.less";

.unit {
  position: absolute;
  width: @unit-width;
  height: @unit-height;

  margin-left: (@unit-width / -2 + 38px);
  margin-top: (@unit-height / -2 - 13px);

  pointer-events: none;

  &.unit-shadow {
    transform-origin: center 68%;
    filter: contrast(0) sepia(100%) saturate(0) brightness(0) blur(7px);
  }

  .char {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .health {
    position: absolute;
    top: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    border-radius: 5px;
    overflow: hidden;

    > div {
      height: 5px;
      position: absolute;
      background-color: @text-color;
    }
  }

  .damage-points {
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: 30%;
    color: #ffffff;
    filter: drop-shadow(0px 4px 6px black);
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    font-weight: bolder;
    text-align: center;
    transition: all 0.5s linear;
    opacity: 1;
  }

  .unit-rotation(@unit-height);

  .createUnit(hero);
  .createUnit(ghoul);

  .sharedUnitActions();

  &[data-at-gunpoint="true"] {
    .char {
      filter: drop-shadow(0px 0px 5px red) drop-shadow(0px 0px 5px red);
    }
  }

  &[data-action="hit"] {
    .damage-points {
      top: 0;
      opacity: 0;
    }
  }
}

[data-editor-mode="unit"] {
  .unit {
    pointer-events: auto;
  }
}
