.inventory-item-pic {
  &[data-name="molotov_cocktail"] {
    background-image: url("/assets/weapons/throwable/grenade/molotov_cocktail/icon.webp");
  }

  &[data-name="frag_grenade"] {
    background-image: url("/assets/weapons/throwable/grenade/frag_grenade/icon.webp");
  }
}

.ammo {
  &.ammo_molotov_cocktail {
    background-color: transparent;
    background-image: url("/assets/weapons/throwable/grenade/molotov_cocktail/icon.webp");

    width: 50px !important;
    height: 20px !important;
  }

  &.ammo_frag_grenade {
    background-color: transparent;
    background-image: url("/assets/weapons/throwable/grenade/frag_grenade/icon.webp");

    width: 50px !important;
    height: 20px !important;
  }
}
