.inventory-item-pic {
  &[data-name="molotov_cocktail"] {
    background-image: url("/public/assets/weapons/throwable/grenade/molotov_cocktail/icon.webp");
  }
}

.ammo {
  &.ammo_molotov_cocktail {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
  }
}
