.building-editor,
.vehicle-editor {
  position: absolute;
  inset: 0;
  transform-origin: left top;
  z-index: 1;
  pointer-events: auto !important;
}

[data-editing-active] .building,
[data-editing-active] .vehicle {
  transform: none;
  pointer-events: auto;
  transition: filter 0.1s linear;

  &:hover {
    filter: brightness(1.2);
  }

  &[data-selected="true"] {
    filter: brightness(1.2) drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
  }

  &[data-dragging="true"] {
    filter: brightness(1.2) drop-shadow(0 0 1px #19ff81) drop-shadow(0 0 1px #19ff81) drop-shadow(0 0 1px #19ff81);
  }
}
