@import "variables";
@import "UI/ui-button";
@import "UI/ui-radio";
@import "UI/ui-tabs";
@import "UI/ui-switch";

body {
  margin: 0;
  font-family: "Inconsolata", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-size: 1.2em;
  color: @text-color;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
}

.loading {
  background-color: #3a3842;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: @text-color;
  background-image: radial-gradient(#11581e, #041607);

  > div {
    flex: 0 1;
  }
}

.with-overlay:after {
  content: "";
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: auto 4px;
  background-size: auto 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  margin: -1px;
  left: 0;
  top: 0;
}

.app-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.debug {
  position: absolute;
  z-index: 2;
  //pointer-events: none;
  font-size: 0.6em;
  user-select: none;
  color: @text-color;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 5px;
  backdrop-filter: blur(5px);

  th {
    text-align: left;
  }
}

.center {
  display: flex;
  flex: 1;
}

.map-wrapper {
  position: relative;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  overflow: auto;
  z-index: 1;

  &[data-scrolling-direction="left"] {
    cursor: w-resize;
  }

  &[data-scrolling-direction="top"] {
    cursor: n-resize;
  }

  &[data-scrolling-direction="right"] {
    cursor: e-resize;
  }

  &[data-scrolling-direction="bottom"] {
    cursor: s-resize;
  }
}

@import url("editor/editor");

.game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(00, 0, 0, 0.5);
  z-index: 10;
  color: @text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  backdrop-filter: grayscale(1);
}

@import url("control_panel/ControlPanel");
