@control-panel-height: 120px;
@control-panel-height-mobile: 60px;

@text-color: #19ff81;
@padding: 10px;
@border-radius: 5px;

@button-border-color: #000000;
@button-border-color--active: #20931b;

@button-bg-color: #3a3842;
@button-bg-color--active: #243418;

@button-border-color--green: #20931b;
@button-border-color--green-active: lighten(@button-border-color--green, 10%);
@button-bg-color--green: rgba(255, 255, 255, 0.1);

@button-border-color--red: #a60000;
@button-bg-color--red: #341818;

@tab-bg-color: #2f2c3c;
@tab-border-color: rgb(55 125 56);

.explorable-entity-highlight() {
  filter: drop-shadow(0 0 1px yellow) drop-shadow(0 0 1px yellow) drop-shadow(0 0 1px yellow) !important;
}

.glass-effect() {
  opacity: 0.6;
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.3), transparent),
    radial-gradient(ellipse at bottom, rgba(113, 255, 0, 0.5), transparent);
}

.glass-glare() {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid rgba(255, 255, 255, 0.4);
  border-left: 100px solid transparent;
  filter: blur(20px);
}
