@text-color: #19ff81;
@padding: 10px;
@border-radius: 5px;

@button-border-color: #000000;
@button-border-color--active: #20931b;

@button-bg-color: #3a3842;
@button-bg-color--active: #243418;

@button-border-color--green: #20931b;
@button-bg-color--green: #243418;

@button-border-color--red: #a60000;
@button-bg-color--red: #341818;

@tab-bg-color: #2f2c3c;
@tab-border-color: rgb(55 125 56);
