[data-editing-active] {
  //.lights {
  pointer-events: auto;

  .light {
    position: absolute;
    border-radius: 50%;
    //transform: skew(15deg, 15deg) rotate(30deg) translate3d(-50px, -15px, 0);
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));

    transition:
      filter 0.1s linear,
      transform 0.1s linear;

    &:hover {
      filter: brightness(1.2) drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
    }

    &[data-selected="true"] {
      animation: selected-light (@animation-length / 2);
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-timing-function: ease-in-out;
    }

    &[data-dragging="true"] {
      animation: none;
      //transform: skew(15deg, 15deg) rotate(30deg) translate3d(-60px, -17px, 0);
      filter: brightness(1.2) drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
    }
  }
  //}
}

@keyframes selected-light {
  0% {
    //transform: skew(15deg, 15deg) rotate(30deg) translate3d(-50px, -15px, 0);
    top: -10px;
    filter: brightness(1.2) drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
  }
  100% {
    //transform: skew(15deg, 15deg) rotate(30deg) translate3d(-60px, -17px, 0);
    top: 0;
    filter: brightness(1.2) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
  }
}
