.editor {
  position: absolute;
  right: @padding;
  margin-top: @padding;
  margin-bottom: @padding;
  display: flex;
  font-size: 0.8em;
  top: 0;

  gap: @padding;
  padding: (@padding / 2) @padding;
  flex-direction: column;

  z-index: 1;
  box-sizing: border-box;
  color: @text-color;

  .entity-props-editor,
  .editor-toolbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: @padding;

    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
    border: solid 1px @tab-border-color;
    border-radius: 10px;
  }

  .editor-props-wrapper {
    flex: 1;
  }

  .editor-toolbar {
    flex-grow: 0;
  }

  .editor-controls {
    display: flex;
    flex-direction: column;
    padding-top: (@padding / 2);
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: right;
      padding: 5px;
    }

    td {
      padding: 5px;
      width: 99%;
    }

    select,
    input[type="text"],
    input[type="url"] {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.editor-library {
  position: absolute;
  top: @padding;
  bottom: @padding;

  display: flex;
  align-items: stretch;
  z-index: 2;

  .editor-library-scroller {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    height: 100vw;
  }

  .library-entity {
    display: flex;
    cursor: grab;
    align-items: center;

    fieldset {
      display: flex;
      flex: 1;
      justify-content: space-between;

      legend {
        color: fade(@text-color, 60%);
        transition: all 0.1s ease-in-out;
      }
    }

    .image {
      margin: 0;
      justify-self: center;
      align-self: center;
      transform: scale(0.7);
    }

    .prev-direction,
    .next-direction {
      height: 100%;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: stretch;
      justify-content: center;
      transition: all 0.1s ease-in-out;
      filter: opacity(0);

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: fade(@text-color, 50%);

        &:hover {
          color: @text-color;
        }
      }
    }

    .info {
      display: flex;

      gap: @padding;
      align-items: flex-end;
      flex: 1;

      .entity-type {
        //
      }

      .entity-size {
        color: fade(@text-color, 50%);
      }
    }

    &:hover {
      fieldset {
        legend {
          color: @text-color;
        }
      }

      .prev-direction,
      .next-direction {
        filter: opacity(1);
      }
    }

    &.dragging {
      border: none;
      background-color: transparent;
      opacity: 0.75;

      .image {
        transform: scale(0.7);
      }

      .info,
      .prev-direction,
      .next-direction {
        opacity: 0;
      }
    }
  }
}

.editor-library-units {
  .library-entity {
    .image {
      position: initial;
      transform: scale(1);
      margin-bottom: @padding;
    }
  }
}

.entity-variant-slider-wrapper {
  display: flex;
  gap: 10px;

  .entity-variant-slider-container {
    flex: 1;

    input {
      margin: 0;
      width: 100%;
    }
  }

  .entity-variant-slider-value {
    display: flex;
    align-items: center;
  }
}

.nothing-selected-text {
  padding: @padding;
  font-style: italic;
  text-align: center;
  font-size: small;
  color: darken(@text-color, 20%);
}

@import url("building/building.less");
@import url("terrain/terrain.less");
@import url("light/light.less");
@import url("unit/unit.less");
