.editor {
  position: absolute;
  right: @padding;
  margin-top: @padding;
  margin-bottom: @padding;
  display: flex;
  font-size: 0.7em;
  top: 0;

  gap: @padding;
  padding: (@padding / 2) @padding;
  flex-direction: column;

  z-index: 1;
  box-sizing: border-box;
  color: @text-color;

  .entity-props-editor,
  .editor-toolbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: @padding;

    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
    border: solid 1px @tab-border-color;
    border-radius: 10px;
  }

  .editor-props-wrapper {
    flex: 1;
  }

  .editor-toolbar {
    flex-grow: 0;
  }

  .editor-controls {
    display: flex;
    flex-direction: column;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: right;
      padding: 5px;
    }

    td {
      padding: 5px;
      width: 99%;
    }

    select,
    input[type="text"],
    input[type="url"] {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.editor-library {
  width: 100vw;
  display: flex;
  align-items: stretch;
  z-index: 2;
  background-color: #000000;
  color: @text-color;

  .editor-library-scroller {
    display: flex;
    column-gap: 10px;
    align-items: stretch;
    overflow: auto;
    padding: 10px;
  }

  .library-entity {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto auto;
    gap: 10px 0;
    grid-template-areas:
      "prev-direction image next-direction"
      "prev-direction variant next-direction"
      "info info info";

    position: relative;
    border: solid 1px #ccc;
    border-radius: 3px;
    cursor: grab;

    .image {
      grid-area: image;
      margin: 0;
      justify-self: center;
      align-self: center;
      transform: translateY(20px);
      transition: transform 0.26s ease-in-out;
    }
    &:hover .image {
      transform: translateY(0.6);
    }

    .variant {
      grid-area: variant;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.26s ease-in-out;
    }

    .prev-direction,
    .next-direction {
      width: 3em;
      height: 100%;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: stretch;
      justify-content: center;
      transition: all 0.26s ease-in-out;

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: fade(@text-color, 50%);

        &:hover {
          color: @text-color;
        }
      }
    }

    .prev-direction {
      grid-area: prev-direction;
      transform: translateX(-100%) scaleX(0);
    }
    .next-direction {
      grid-area: next-direction;
      transform: translateX(100%) scaleX(0);
    }
    .info {
      grid-area: info;
      display: flex;
      flex-direction: row;
      margin: 0 10px 10px;
      gap: @padding;

      .entity-type {
        flex: 1;
      }
    }

    &:hover {
      .variant {
        max-height: none;
        transform: scaleY(1);
      }

      .prev-direction,
      .next-direction {
        transform: translateX(0) scaleX(1);
      }
    }

    &.dragging {
      border: none;
      background-color: transparent;
      opacity: 0.75;

      .image {
        transform: scale(0.7);
      }

      .variant,
      .info,
      .prev-direction,
      .next-direction {
        opacity: 0;
      }
    }
  }
}

.editor-library-units {
  .library-entity {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    gap: 10px 0;
    grid-template-areas:
      "image"
      "info";
  }
}

.entity-variant-slider-wrapper {
  display: flex;
  gap: 10px;

  .entity-variant-slider-container {
    flex: 1;

    input {
      margin: 0;
      width: 100%;
    }
  }

  .entity-variant-slider-value {
    display: flex;
    align-items: center;
  }
}

.nothing-selected-text {
  padding: @padding;
  font-style: italic;
  text-align: center;
  font-size: small;
  color: darken(@text-color, 20%);
}

@import url("building/building.less");
@import url("terrain/terrain.less");
@import url("light/light.less");
@import url("unit/unit.less");
