.building-rotation(@width, @height, @variants) {
  each(range(@variants), {
  	&[data-variant="@{value}"] {
		background-position-y: -@height * @value;
	}
  });

  &[data-rotation="0"] {
    background-position-x: @width * 0;
  }

  &[data-rotation="270"] {
    background-position-x: @width * -1;
  }

  &[data-rotation="90"] {
    background-position-x: @width * -2;
  }

  &[data-rotation="180"] {
    background-position-x: @width * -3;
  }
}

.building-shift(@vertical, @horizontal) {
  &[data-rotation="0"],
  &[data-rotation="180"] {
    margin-left: @vertical;
  }

  &[data-rotation="90"],
  &[data-rotation="270"] {
    margin-left: @horizontal;
  }
}
