.inventory {
  position: relative;
  overflow: auto;
  max-width: 800px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 0.75fr;
  grid-gap: (@padding) (@padding * 2);
  padding: (@padding) (@padding * 2) (@padding) (@padding * 2);
  border-radius: @border-radius;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px limegreen;
  color: @text-color;

  > fieldset:not(.controls) {
    border: solid 1px rgba(0, 255, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: @border-radius;

    &[data-droppable] {
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75) inset;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .inventory-storage-wrapper {
    grid-area: 1 / 1 / 4 / 2;

    .inventory-storage {
      flex: 1;
      overflow: auto;
    }

    .inventory-storage-controls {
      display: flex;
      margin-top: -(@padding - 3px);
      font-size: 0.85em;
      padding: @padding;
      background-color: rgb(10, 65, 16);
      border-radius: @border-radius;
    }

    .inventory-storage-info {
      font-size: 0.85em;
      padding: @padding;
      background-color: rgba(0, 255, 0, 0.05);
    }
  }

  .left-hand-wrapper {
    display: flex;
    grid-area: 3 / 2 / 4 / 3;
  }

  .right-hand-wrapper {
    display: flex;
    grid-area: 3 / 3 / 4 / 4;
  }

  .hand {
    display: flex;
    flex: 1;
  }

  .entity-overview-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    align-items: center;

    .entity-preview {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex: 1;

      .building,
      .vehicle,
      .unit {
        position: relative;
        margin: 0;
        scale: 0.85;
        transform: none !important;
      }
    }
  }

  .inventory-item-info-wrapper {
    grid-area: 1 / 3 / 3 / 4;

    .inventory-item-info {
      display: flex;
      margin-top: -@padding;
      gap: @padding * 2;
      flex-direction: column;

      .inventory-item-title {
        font-size: 1.5em;
        text-align: center;
        background-color: rgba(0, 255, 0, 0.1);
        padding: @padding * 2 0 @padding * 1.5 0;
      }

      .inventory-item-description {
        font-size: 0.8em;
        margin: 0 @padding * 2;
        text-align: justify;
      }

      .inventory-item-pic {
        aspect-ratio: 8/3;
        background-repeat: no-repeat;
        background-position: center;
      }

      ul {
        margin: 0 @padding * 2;
        padding: 0;

        li {
          list-style: none;
          display: flex;

          .prop {
            flex: 1;
          }

          .value {
            //
          }
        }
      }
    }
  }

  .armor-wrapper {
    grid-area: 2 / 2 / 3 / 3;
  }

  .controls {
    grid-area: 4 / 2 / 5 / 4;
    padding: @padding 0;
    display: flex;
    justify-content: flex-end;
  }
}

//
.inventory-transfer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;

  .entity-overview-wrapper-left {
    grid-area: 1 / 1 / 1 / 1;
  }

  .inventory-storage-wrapper-left {
    grid-area: 2 / 1 / 4 / 1;
  }

  .inventory-item-info-wrapper {
    grid-area: 1 / 2 / 3 / 2;
  }

  .transfer-controls {
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .entity-overview-wrapper-right {
    grid-area: 1 / 3 / 2 / 3;
  }

  .inventory-storage-wrapper-right {
    grid-area: 2 / 3 / 4 / 3;
  }
}

//
.inventory-manager {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;

  .entity-overview-wrapper-left {
    grid-area: 1 / 1 / 1 / 1;
  }

  .inventory-storage-wrapper-left {
    grid-area: 2 / 1 / 4 / 1;
  }

  .inventory-item-info-wrapper {
    grid-area: 1 / 2 / 4 / 2;
  }

  .inventory-storage-wrapper-right {
    grid-area: 1 / 3 / 4 / 3;
  }
}

@import "inventory-item";
