.unit-inventory-items-list {
  margin: 0;
  margin-top: -@padding;
  padding: @padding * 2;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  gap: (@padding * 2);

  li {
    position: relative;
    flex: 1 40px 0;
    align-items: center;
    padding: @padding;
    border: solid 1px transparent;
    display: flex;
    gap: (@padding * 2);
    cursor: default;
    box-sizing: content-box;
    border-radius: @border-radius;
    transition: all 150ms linear;

    &.selected {
      border-color: rgba(0, 255, 0, 0.5);
      background-color: rgba(0, 255, 0, 0.2);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
    }

    &[draggable="true"] {
      cursor: grab;
    }

    &.hide {
      transition: 0.01s;
      transform: translateX(-9999px);
    }

    .entities-group-count {
      position: absolute;
      z-index: 2;
      left: (@padding / 2);
      top: 2px;
      font-size: 0.85em;
    }

    .inventory-item-pic {
      height: 40px;
      flex: 1;
      aspect-ratio: 4/3;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .inventory-item-title-wrapper {
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
      min-width: 0;

      .inventory-item-title {
        color: darken(@text-color, 10%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .entity-subtitle {
        font-size: 0.9em;
      }
    }

    .ui-button {
      visibility: hidden;
    }

    &:hover {
      border-color: rgba(0, 255, 0, 0.5);
      .ui-button {
        visibility: visible;
      }
    }
  }

  &.unit-inventory-items-list--compact {
    padding: @padding 0;
    flex-flow: column nowrap;
    max-height: 200px;
    overflow: auto;

    li {
      flex-shrink: 0;

      .inventory-item-pic {
        height: 20px;
      }
    }
  }
}
