.terrain-area-coordinates-editor {
  display: flex;
  flex-direction: revert;
  justify-content: space-between;

  .coordinates-row {
    display: flex;
    gap: 10px;

    .label {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .value {
      input {
        max-width: 4em;
        box-sizing: border-box;
      }
    }
  }
}
